<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <!-- <h2 class="qor-page__tips">Dashboard Placeholders</h2> -->
  <iframe
    src="http://test-api.umba.la:3001/public/dashboard/6383b156-605c-4139-9e61-683ae1ca3c7e"
    frameborder="0"
    width="100%"
    style="height: calc(100vh - 80px);"
    allowtransparency
  ></iframe>
</div>
